@import 'tailwindcss';

:root {
  color-scheme: light;

  --color-background: #f9fafb;
  --color-foreground: #171717;

  --color-card: #ffffff;
  --color-card-foreground: #171717;

  --color-popover: #ffffff;
  --color-popover-foreground: #171717;

  --color-primary: #171717;
  --color-primary-foreground: #fafafa;

  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #171717;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #52525b;

  --color-accent: #f4f4f5;
  --color-accent-foreground: #171717;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;

  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #18181b;

  --radius: 0.5rem;
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

.dark {
  color-scheme: dark;

  --color-background: #0a0a0a;
  --color-foreground: #ededed;

  --color-card: #0a0a0a;
  --color-card-foreground: #ededed;

  --color-popover: #0a0a0a;
  --color-popover-foreground: #ededed;

  --color-primary: #ededed;
  --color-primary-foreground: #171717;

  --color-secondary: #27272a;
  --color-secondary-foreground: #ededed;

  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;

  --color-accent: #27272a;
  --color-accent-foreground: #ededed;

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #ededed;

  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #d4d4d8;

  --radius: 0.5rem;
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  font-feature-settings: "rlig" 1, "calt" 1;
}
